/* css/fonts.css */

@font-face {
    font-family: 'GolosText-VariableFont_wght';
    src: url('../fonts/GolosText-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/GolosText-VariableFont_wght.woff') format('woff');
    font-weight: 100 900; /* Variable font weight range */
    font-display: swap;
}

@font-face {
    font-family: 'SourceCodePro-VariableFont_wght';
    src: url('../fonts/SourceCodePro-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/SourceCodePro-VariableFont_wght.woff') format('woff');
    font-weight: 100 900; /* Variable font weight range */
    font-display: swap;
}

@font-face {
    font-family: 'ZalandoSansSemiExpanded-VariableFont_wght';
    src: url('../fonts/ZalandoSansSemiExpanded-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/ZalandoSansSemiExpanded-VariableFont_wght.woff') format('woff');
    font-weight: 100 900; /* Variable font weight range */
    font-display: swap;
}

/* Optional: Define specific weights if needed */
@font-face {
    font-family: 'GolosText-VariableFont_wght';
    src: url('../fonts/GolosText-VariableFont_wght.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'SourceCodePro-VariableFont_wght';
    src: url('../fonts/SourceCodePro-VariableFont_wght.woff2') format('woff2');
    font-weight: 400; /* Variable font weight range */
    font-display: swap;
}

@font-face {
    font-family: 'GolosText-VariableFont_wght';
    src: url('../fonts/GolosText-VariableFont_wght.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'SourceCodePro-VariableFont_wght';
    src: url('../fonts/SourceCodePro-VariableFont_wght.woff2') format('woff2');
    font-weight: 700; /* Variable font weight range */
    font-display: swap;
}

/* Background Images */
.direct-config-bg {
    background-image: url('https://kenkws.github.io/AT-Assets/images/Bell-Mammoth-gigapixel-standard-v2-2x.jpg');
}

.direct-results-bg {
    background-image: url('https://kenkws.github.io/AT-Assets/images/pexels-paduret-4041750_DS.jpg');
}